UInt256.xcodeproj/xcuserdata
UInt256.xcodeproj/project.xcworkspace/xcuserdata

*.xcuserstate

UInt256.xcodeproj/xcshareddata/xcbaselines/A26F77AC19684ED900C75822.xcbaseline/12867958-DEC7-4741-AF44-E8A149C0B353.plist
