<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UInt256.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2A1A0BD1962DAFC00701051</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2A1A0C71962DAFC00701051</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2D32CEE1962CED3001B5998</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2D32CFB1962CED3001B5998</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
